@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Potta+One&display=swap");

:root {
  --light-blue: rgb(36, 209, 231);
  --dark-blue: rgb(9, 79, 219);
  --headlines: "Potta One", cursive;
  --text: "East Sea Dokdo", cursive;
  --red: #e60000;
  --green: #4ce600;
  --yellow: #ffff00;
  --blue: #0052cc;
  --greenHealth: #00b33c;
  --purple: #e60073;
  --careerBlue: #003366;
}

.App {
  text-align: center;
  color: var(--dark-blue);
}
h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: var(--dark-blue);
  font-family: var(--headlines);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0, 20px;
  color: var(--dark-blue);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 255, 0.6);
}

.content {
  z-index: 10;
}

.headline {
  font-family: var(--headlines);
  margin: 30px;
}
.btn-lp {
  font-family: var(--headlines);
  margin: 30px;
  padding: 20px;
  height: 100px;
  width: 120px;
  border-radius: 50%;
  border: solid 3px var(--dark-blue);
  background-color: var(--light-blue);
  color: var(--dark-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-lp:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

img {
  width: 150px;
  height: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-field {
  margin: 15px;
  padding: 10px;
  width: 35%;
  border: solid 3px var(--dark-blue);
  font-family: var(--text);
  font-size: 20px;
  box-shadow: 10px 10px 5px grey;
}
.input-area {
  margin: 15px;
  padding: 10px;
  width: 35%;
  height: 300px;
  border: solid 3px var(--dark-blue);
  font-family: var(--text);
  font-size: 20px;
  box-shadow: 10px 10px 5px grey;
}
.input-select {
  margin: 15px;
  padding: 10px;

  border: solid 3px var(--dark-blue);
  font-family: var(--text);
  font-size: 20px;
  box-shadow: 10px 10px 5px grey;
}
h3 {
  font-family: var(--text);
  margin: 20px;
  font-size: 50px;
}
.task-container {
  margin: auto;
  padding: 10px;
  width: 70%;
  min-height: 350px;

  height: 500px;
  border: solid 3px var(--dark-blue);
  font-family: var(--text);
  font-size: 20px;
  box-shadow: 10px 10px 5px grey;
  overflow: scroll;
}
/* width */
.task-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.task-container::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
.task-container::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

/* Handle on hover */
.task-container::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}

.one-task {
  margin: auto;
  padding: 10px;
  width: 35%;
  height: 400px;
  border: solid 3px var(--dark-blue);
  font-family: var(--text);
  font-size: 35px;
  box-shadow: 10px 10px 5px grey;
  overflow: scroll;
}
/* width */
.one-task::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.one-task::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
.one-task::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

/* Handle on hover */
.one-task::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}
.one-task-btn {
  font-family: var(--headlines);
  margin: 30px;
  padding: 2px;
  height: 80px;
  width: 80px;
  font-size: 20px;
  border-radius: 50%;
  border: solid 3px var(--dark-blue);
  background-color: var(--light-blue);
  color: var(--dark-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.one-task-btn:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}
.short-task {
  margin: auto;
  margin-bottom: 10px;
  border: solid var(--dark-blue);
  width: 95%;
}
.short-task-btn {
  border-radius: 50%;
  border: solid 2px var(--dark-blue);
  padding: 5px;
  color: var(--dark-blue);
  background-color: var(--light-blue);
}
.short-task-title {
  float: left;
  margin: 5px;
  font-size: 30px;
}
.short-task-btn:hover {
  color: var(--light-blue);
  background-color: var(--dark-blue);
}
/*className for tasks*/
.todo {
  border: solid 4px var(--red);
}
.inprogress {
  border: solid 4px var(--yellow);
}
.done {
  border: solid 4px var(--green);
}
.personal {
  background-color: var(--purple);
  color: white;
}
.health {
  background-color: var(--greenHealth);
}
.career {
  background-color: var(--careerBlue);
  color: white;
}
.social {
  background-color: var(--blue);
  color: white;
}
.footer {
  font-size: 25px;
}
.footer li {
  list-style: none;
  font-family: var(--text);
  font-size: 35px;
}
.soc-ico {
  width: 45px;
  height: 45px;
  margin: 10px;
  border-radius: 50%;
  border: solid var(--dark-blue);
}
.footer .soc-ico:hover {
  animation: footer 0.7s ease;
}

@keyframes footer {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
}
